@font-face {
  font-family: "NanumSquareNeo";
  font-weight: 300;
  font-style: normal;
  src: url("https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-aLt.eot");
  src: url("https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-aLt.eot?#iefix")
      format("embedded-opentype"),
    url("https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-aLt.woff2")
      format("woff2"),
    url("https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-aLt.woff")
      format("woff"),
    url("https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-aLt.ttf")
      format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "NanumSquareNeo";
  font-weight: 400;
  font-style: normal;
  src: url("https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-bRg.eot");
  src: url("https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-bRg.eot?#iefix")
      format("embedded-opentype"),
    url("https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-bRg.woff2")
      format("woff2"),
    url("https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-bRg.woff")
      format("woff"),
    url("https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-bRg.ttf")
      format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "NanumSquareNeo";
  font-weight: 700;
  font-style: normal;
  src: url("https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-cBd.eot");
  src: url("https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-cBd.eot?#iefix")
      format("embedded-opentype"),
    url("https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-cBd.woff2")
      format("woff2"),
    url("https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-cBd.woff")
      format("woff"),
    url("https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-cBd.ttf")
      format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "NanumSquareNeo";
  font-weight: 800;
  font-style: normal;
  src: url("https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-dEb.eot");
  src: url("https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-dEb.eot?#iefix")
      format("embedded-opentype"),
    url("https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-dEb.woff2")
      format("woff2"),
    url("https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-dEb.woff")
      format("woff"),
    url("https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-dEb.ttf")
      format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "NanumSquareNeo";
  font-weight: 900;
  font-style: normal;
  src: url("https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-eHv.eot");
  src: url("https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-eHv.eot?#iefix")
      format("embedded-opentype"),
    url("https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-eHv.woff2")
      format("woff2"),
    url("https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-eHv.woff")
      format("woff"),
    url("https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-eHv.ttf")
      format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "JalnanGothic";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/JalnanGothic.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #3030ba;
  margin: 0;
  padding: 0;
}

.inner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.innerWrap {
  position: absolute;
  top: 62%;
  left: 50%;
  transform: translate(-50%, -50%);
}
